/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;
  --brand-color: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  --highlight: #f78666;
  --highlight-2: #adfcf9;

  --scroller-time: 30s;

  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.5rem;

  --display: 3rem;
  font-size: 20px;
}

.display-1,
.display-1 * {
  font-size: var(--h1);
  font-weight: bold;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
  --max-width: 1280px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    /* Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI', */
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
