@import './base.css';

#app {
  max-width: 100%;
  width: 100%;

  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
}

h4 {
  font-size: var(--h4);
  font-weight: bold;
}

.button-section {
  width: 100%;
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: rgb(71, 114, 254);
  transition: 0.4s;
  padding: 3px;
}

html {
  scroll-behavior: smooth;
}

nav a.router-link-exact-active:hover,
.tab a:hover {
  background-color: transparent;
}

nav a,
.tab a {
  padding: 0.5rem 1rem;
  min-width: fit-content;
}

nav,
.tab {
  padding: 1rem 0;
  width: min-content;
  width: 100%;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
body {
  display: flex;
  place-items: center;
  align-items: flex-start;
  position: relative;
}

.wrapper {
  padding: 2rem 8rem;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
