@import './base.css';

#app {
  /* max-width: 1280px; */
  /* width: 1280px; */
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;

  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    align-items: flex-start;
  }

  .wrapper {
    padding: 2rem 8rem;
    max-width: var(--max-width);
    width: var(--max-width);
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
}
