@import './base.css';

#app {
  max-width: 100%;
  width: 100%;

  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
}

h4 {
  font-size: var(--h4);
  font-weight: bold;
}

.button-section {
  width: 100%;
  position: relative;
}

a,
.blue {
  text-decoration: none;
  color: rgb(71, 114, 254);
  transition: 0.4s;
  padding: 3px;
}

html {
  scroll-behavior: smooth;
}

nav a.router-link-exact-active:hover,
.tab a:hover {
  background-color: transparent;
}

nav a,
.tab a {
  /* padding: 0.5rem 1rem; */
  min-width: fit-content;
}

nav,
.tab {
  padding: 1rem 0;
  width: min-content;
  width: 100%;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(223, 100%, 37%, 0.2);
  }
}
body {
  display: flex;
  place-items: center;
  align-items: flex-start;
  position: relative;
}

.wrapper {
  padding: 2rem 4rem;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 2rem 2rem;
  }
}

.wrapper-background {
  background-color: var(--brand-color);
  color: var(--text-light-1);
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-content {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  margin-block: 2rem 6rem;
}

.dot {
  display: flex;
  align-items: center;
  width: 100%;
}

.dot::before,
.dot::after {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 100%;
  margin: 0 1.5rem;
  background-color: var(--highlight-1);
}

.dot::after {
  display: none;
}

@media only screen and (max-width: 768px) {
  .dot::before,
  .dot::after {
    margin: 0 1rem 0 0;
  }

  .dot-content {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
